@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");

body {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
}
html{
  scroll-behavior: smooth;
}
/* <!---------------- navbar --------------------> */
nav{
  display: block;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
.title{
  font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
}
.navbar-content{
  display: flex;
  justify-content: center;
  background-color: #f9ece6;
  border-radius: 10px 10px 0 0;
  height: 60px;
  gap: 40px;
}
.navbar-content ul{
  list-style: none;
  display: flex;
  gap: 30px;
}
.navbar-content ul li a{
  color: #000000;
  text-decoration: none;
}
.navbar-content ul li a span{
  background-color: #ffffff;
  padding: 5px 30px;
  border-radius:  7px; 
}
.navbar-content .login{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.navbar-content .icon{
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-content .icon i{
  cursor: pointer;
}
/* <!---------------- header --------------------> */
header{
  margin-top: -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content{
  flex-direction: row;
  justify-content: space-between;
  background-color: #f89cab;
  border-radius: 0 0 20px 20px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 700px;
  position: relative;
}
.header-left{
  margin-left: 100px;
}
.header-left h2{
  font-size: 60px;
  color: #ffffff;
}
.header-left h2 span{
  display: block;
  margin-top: -20px;
  margin-bottom: -50px;
}
.header-left p{
  font-size: 18px;
  width: 60%;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 40px;
}
.header-left button{
  background-color: #db4566;
  color: #ffffff;
  padding: 10px;
  outline: none;
  border: 1px solid #db4566;
  padding: 10px 40px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 18px;
}
.header-left button:hover{
  background-color: transparent;
  cursor: pointer;
}
.header-left .fares button{
  width: max-content;
  height: 50px;
  align-items: center;
  text-align: center;
  border:  #fff 1px solid;
  display: flex;
  background-color: #fff;
  color: #000;
  margin-top: 150px;
  margin-left: -30px;
  margin-bottom: -120px;
}
.header-left .fares button pre{
  pointer-events: none;   
}
.header-left .fares button i{
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.header-right img{
  display: flex;
  justify-content: end;
  position: absolute;
  right: 120px;;
  top: 50px;
}
/* <!--------------- PRODUCTS ---------------------> */
.products{
  display: flex;
  text-align: center;
  width: 88%;
  margin: 0 20px 0 110px;
}
.products-content h1{
  margin-top: 70px;
}
.products-flex{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.products-flex .product{
  width: 20%;
  background-color: #eee;
  text-align: center;
  padding: 10px;
  height: 255px;
}
.products-flex .product > *{
  margin-bottom: 15px;
}
.products-flex .product img{
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.products-flex .product h3{
  margin-top: -5px;
  text-align: left;

  background-color: #ffffff;
  width: 45px;
  height: 45px;
  padding: 5px 6px;
  line-height: 45px;
  border-radius: 50%;
  font-weight: normal;
}
.products-flex .product div{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

}
.products-flex .product div h4 span{
  color: #db4f66;
}
.products-flex .product div h4{
  margin-top: -20px;
  font-size: 15px;
  font-weight: 550;
}
.products-content button{
  margin: 0 170px 0 110px;
  background-color: #f16179;
  color: #ffffff;
  padding: 10px;
  outline: none;
  border: 1px solid  #f16179;
  padding: 10px 40px;   
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 50px;
}
.products-content button:hover{
  background-color: #ffffff;
  color: #db4566;
  cursor: pointer;
}
/* <!---------------- banner --------------------> */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.banner .banner-content{
  flex-direction: row;
  justify-content: space-between;
  background-color: #7fd7eb;
  border-radius: 20px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 450px;
  position: relative;
}
.banner-content .banner-left{
  margin-left: 50px;
  margin-bottom: -110px;
}
.banner-right{
  margin-left: 80px;
}
.banner-right h2{
  font-size: 36px;
  color: #ffffff;
}
.banner-right h2 span{
  margin-top: -10px;
  display: block;
}
.banner-right p{
  color: #ffffff;
  width: 98%;
  margin-top: -20px;
  margin-bottom: 40px;
}
.banner-right .button1{
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
  background-color: #109dbd;
  padding: 15px 45px;
  border: 1px solid #109dbd;
  cursor: pointer;
}
.banner-right .button1:hover{
  background-color: transparent;
  color: #109dbd;
  border: 1px solid #109dbd
}
.banner-right .button2{
  font-size: 18px;
  color: #000;
  background-color: #fff;
  padding: 15px 45px;
  border: 1px solid #fff;
  cursor: pointer;
}
.banner-right .button2:hover{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
/* <!---------------- Why Us --------------------> */
.Why-Us-content{
  margin-top: 80px;
}
.Why-Us-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.service{
  fill: #320b57;
  width: 25%;
  padding: 10px;
  background-color: #f9f8f7;
  text-align: center;
}
.service > *{
  fill: #320b57;
  margin-bottom: 5px;
}
.service h2{
  margin-top: -5px;
}
.service img{
  width: 60px;
}
.service p{
  font-weight: bold;
  margin-top: -5px;
}
.service p span{
  display: block;
}
/* <!---------------- banner2 --------------------> */
.banner2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.banner2 .banner2-content{
  flex-direction: row;
  justify-content: space-between;
  background-color: #6929a5;
  border-radius: 20px;
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 800px;
  position: relative;
}
.banner2-content .banner-left{
  margin-left: 50px;
  margin-bottom: -57px;
}
.banner-left img{
  width: 500px;
}
.banner2-right{
  margin-top: 60px;
  width: 53%;
  text-align: left;
}
.banner2-right h2{
  font-size: 36px;
  color: #ffffff;
}
.banner2-right h2 span{
  margin-top: -10px;
  display: block;
}
.banner2-right p{
  font-size: 15px;
  color: #ffffff;
  width: 98%;
  margin-top: -20px;
  margin-bottom: 40px;
}
.banner2-right .button3{
  font-weight:770;
  margin-right: 10px;
  font-size: 15px;
  color: #000;
  background-color: #fff;
  padding: 15px 45px;
  border: 1px solid #fff;
  cursor: pointer;
}
.banner2-right .button3:hover{
  background-color: transparent;
  color: #109dbd;
  border: 1px solid #109dbd
}
.banner2-right .button4{
  font-weight:770;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #9242dd;
  padding: 15px 45px;
  border: 1px solid #9242dd;
  cursor: pointer;
}
.banner2-right .button4:hover{
  background-color: transparent;
  border: 1px solid #9242dd;
  color: #9242dd;
}
/* <!---------------- Contact Us --------------------> */
.contact-content .title{
  margin-top: 80px; 
  margin-left: -990px;
}
.contact-left iframe{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  width: 640px;
  height: 590px;
  margin-left: 80px;
  z-index: -1;
}
.contact-right{
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: -597px;
  margin-left: 720px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  flex-wrap: wrap;
  width: 485px;
  height: 550px;
  padding: 20px;
}
.contact-right input{
  margin-top: 20px;
  border: #000 1px solid;
  padding: 0 20px;
  width: 90%;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  font-size: 18px; 
  font-weight: bold;
  color: #000;
}
.contact-right input.yassen{
  height: 120px;
}
.contact-right input::placeholder{
  font-size: 18px; 
  font-weight: bold;
  color: #000;
}
.mohamed button{
  color: #ffffff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 12px 45px;
  background-color: #db4f66;
  border: #db4f66 1px solid;
  font-size: 18px;
  margin-left: 170px;
  cursor: pointer;
}
.mohamed button:hover{
  background-color: transparent;
  border: #db4f66 1px solid;
  color: #db4f66;
}
/* <!---------------- TESTIMONIAL --------------------> */
.testimonial-contact .title{
  margin-top: 80px;
  margin-bottom: 100px;
}
.testimonial-dowen{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #db4f66;
  height: 120px;
  width: 87%;
  margin: 0 auto;
  padding: 0 10px;
}
.testimonial-dowen div i{
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
.testimonial-up{
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffffff;
  width: 81%;
  height: 228px;
  margin: 0 auto;
  margin-top: -180px;
  margin-bottom: 50px;
}
.testimonial-top{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-top h3{
  margin-top: -1px;
  font-size: 1.25rem;
  color: #db4f66;
}
.testimonial-up h4{
  color: #c3c4c4;
  font-weight: normal;
  font-size: 15px;
  padding: 20px;
  margin-top: -55px;
}
.testimonial-up p{
  margin-top: -50px;
  padding: 20px;
}
/* <!------------------- Info --------------------> */
footer .footer-cotact{
  background-color: #2d2d2d;
  width: 95%;
  height: 470px;
  margin: 20px auto;
}
.icon2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.icon2 i{
  margin-top: 60px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.info{
  display: flex;
  justify-content: left;
  margin: 50px ;
  color: #fff;
  gap: 20px;
}
.info > *{
  width: 900px;
}
.info .About p{
  color: #c3c4c4;
}

.About,.Newsletter,.NEEDHELP,.CONTACTUS{
  width: max-content 100%;
}
.About h3{
  margin-left: 20px;
}
.NEEDHELP h3{
margin-left: 20px;
}
.Newsletter input{
  margin-top: -10px;
  outline: none;
  height: 35px;
  width: 250px;
  margin-bottom: 20px;
  padding: 3px 10px;
  font-size: 18px;
}
.Newsletter input::placeholder{
  font-size: 18px;
  font-weight: normal;
}
.Newsletter button{
  font-size: 17px;
  padding: 12px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f89cab;
  text-transform: uppercase;
  cursor: pointer;
}
.NEEDHELP p{
  color: #c3c4c4; 
}
.CONTACTUS{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CONTACTUS div span{
  color: #c3c4c4; 
  cursor: pointer;
}
.CONTACTUS div span:hover{
  color: #fff;
}
hr{
  display: block;
  margin: 0 200px;
}
.footer-cotact p{
  text-align: center;
  color: #c3c4c4;
}
.footer-cotact p span{
  cursor: pointer;
}